body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-family: "Indie Flower";
	justify-content: center;
	background-image: url(assets/background.jpg);
	background-position: center;
	background-size: cover;
}
#wip {
	position: absolute;
	left: 2px;
	bottom: 0%;
}
#head {
	font-family: "Indie Flower";
}
.card {
	-webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
}