body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-family: "Indie Flower";
	justify-content: center;
	background: linear-gradient(500deg, #14d6e4 -420%, #000000 100%);
}
#wip {
	position: absolute;
	left: 2px;
	bottom: 0%;
}
#head {
	font-family: Pacifico;
}