body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-family: "Indie Flower";
	align-content: center;
	justify-content: center;
	background: url(assets/background.jpg);
	background-position: center;
	background-size: cover;
}
#wip {
	position: absolute;
	left: 2px;
	bottom: 0%;
}
#content {
	font-family: "Indie Flower";
	color: rgb(0, 0, 0);
	position: relative;
	align-content: center;
	justify-content: center;
	

}
#card {
	
	background:rgba(255, 255, 255, 0.568);
	filter:blur(8px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
	opacity: 1;
	position: absolute;
	align-content: center;
	align-items: center;
	width: 260pt;
    height: 88vh;
	overflow: hidden;
	padding: 2pt;
	border-radius: 20pt;

}
button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: rgb(0, 0, 0);
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  #profile {
	  position: relative;
	  height: 75vh;
  }
  #github { 
	  position: absolute;
	  width: 260pt;
	  height: 88vh;
	  align-content: center;
	  justify-content: center;
  }